boto3==1.34.9
gTTS==2.5.0
ifaddr==0.2.0
lxml==5.1.0
mutagen==1.47.0
pyvona==1.2.1
Twisted==24.11.0
soco==0.30.9
urllib3==2.3.0
xmltodict==0.14.2
requests==2.32.2
ifaddr==0.2.0
certifi==2025.1.31
contantly
idna==3.10
automat==24.8.1
attrs==25.3.0
appdirs==1.4.4
hyperlink==21.0.0
zope.interface==7.2
setuptools==78.1.0
charset_normalizer==3.4.1
incremental==24.7.2
lame
typing_extensions==4.13.0

